    <div class="col-sm-12">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="form-horizontal col-sm-12">
        <div class="form-group col-sm-4">
          <label class="col-form-label">Name</label>
          <input formControlName="name" type="text" class="form-control" placeholder="Name" />
        </div>
        <div class="form-group col-sm-4">
          <label class="col-form-label">Email</label>
          <input formControlName="email" type="email" class="form-control" placeholder="email" />
        </div>
        <div class="form-group col-sm-4">
          <label class="col-form-label">Password</label>
          <input formControlName="Password" type="password" class="form-control" placeholder="Password" />
        </div>
        <!-- COUNTRY / STATE DROPDOWN -->
        <div class="">
          <div class="form-group col-sm-4">
            <label class="col-form-label">Country</label>
            <select formControlName="nation" class="form-control">
              <option value="india">India</option>
              <option value="america">America</option>
            </select>
          </div>
          <div class="form-group col-sm-4" *ngIf="this.num == true">
            <label class="col-form-label">state</label>
            <select formControlName="india" class="form-control">
              <option value="Tamilnadu">Tamilnadu</option>
              <option value="Kerala">Kerala</option>
            </select>
          </div>
          <div class="form-group col-sm-4" *ngIf="this.num == false">
            <label class="col-form-label">state</label>
            <select class="form-control" formControlName="americaState">
              <option value="New-york">New york</option>
              <option value="California">California</option>
            </select>
          </div>
        </div>
        <!-- ENDED -->

        <!-- (INDIA)CITY DROPDOWN -->
        <div class="">
          <div class="form-group col-sm-4" *ngIf="this.value == true">
            <label class="col-form-label">City</label>
            <select formControlName="TamilnaduCity" class="form-control">
              <option value="madurai">madurai</option>
              <option value="siavagangai">sivagangai</option>
            </select>
          </div>
          <div class="form-group col-sm-4" *ngIf="this.value == false">
            <label class="col-form-label">City</label>
            <select class="form-control">
              <option value="keralaOne">keralaOne</option>
              <option value="keralaTwo">keralaTwo</option>
            </select>
          </div>
        </div>
        <!-- ENDED -->

        <!-- (AMERICA)CITY DROPDOWN -->
        <div class="">
          <div class="form-group col-sm-4" *ngIf="this.americavalue == true">
            <label class="col-form-label">City</label>
            <select formControlName="newyork-city" class="form-control">
              <option value="newyorkOne">newyorkOne</option>
              <option value="newyorkTwo">newyorkTwo</option>
            </select>
          </div>
          <div class="form-group col-sm-4 "*ngIf="this.americavalue == false">
                <label class="col-form-label">City</label>
                <select class="form-control">
                  <option value="CaliforniaOne">CaliforniaOne</option>
                  <option value="CaliforniaTwo">CaliforniaTwo</option>
                </select>
          </div>
        </div>
        <!-- ENDED -->


        <!-- RADIO buttons and CHECKBOX -->
        <div class="form-group col-sm-4">
          <label class="col-form-label">Gender</label>
          <div class="">
            <div class="form-check form-check-inline">
              <input formControlName="Gender" class="form-check-input" type="radio" value="Male">
              <label class="form-check-label">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input formControlName="Gender" class="form-check-input" type="radio" value="Female">
              <label class="form-check-label">Female</label>
            </div>
          </div>
        </div>
        <div class="form-group col-sm-4">
          <label class="col-form-label">Marrital Status</label>
          <div class="">
            <div class="form-check form-check-inline">
              <input formControlName="status" class="form-check-input" type="radio" value="married">
              <label class="form-check-label">married</label>
            </div>
            <div class="form-check form-check-inline">
              <input formControlName="status" class="form-check-input" type="radio" value="unmarried">
              <label class="form-check-label">unmarried</label>
            </div>
          </div>
        </div>

        <div class="">
          <div class="form-group col-sm-4" formArrayName="favcolour">
            <label class="col-form-label">Favourite colour</label>
            <div formGroupName="0" class="form-check form-check-inline">
              <input formControlName="Black" class="form-check-input" type="checkbox" id="inlineCheckbox1"
                value="option1">
              <label class="form-check-label" for="inlineCheckbox1">Black</label>
            </div>
            <div formGroupName="1" class="form-check form-check-inline">
              <input formControlName="white" class="form-check-input" type="checkbox" id="inlineCheckbox2"
                value="option2">
              <label class="form-check-label" for="inlineCheckbox2">White</label>
            </div>
          </div>
        </div>
        <div class="">
          <div class="form-group col-sm-4"></div>
          <div class="form-group col-sm-4">
            <div class="buttonAlign">
              <button type="submit" class="btn btn-primary signIn ">
                Submit
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
